*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: black;
}

/*All Heading Tags*/

h1
h2
h3
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p
a
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: antiquewhite;
}

.nav{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.nav h1{
    width: 50%;
    float: left;
}

.nav ul{
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 10px;
    word-spacing: 10px;
}

.nav a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

.nav li{
    display: inline-block;
}

/*Banner Area*/

.banner{
    height: 600px;
    background-color: orange;
    background-image: url(../images/atf-image.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
}

.banner-text{
    width: 30%;
    position: relative;
    top: 20%; left: 7.5%;
}



.banner h2{
    text-transform: uppercase;
    font-size: 65px;
    line-height: 55px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #262624;
}

#textgreen{
    color: rgb(73, 136, 73);
    margin-bottom: 2%;
}

.banner a{
    padding: 15px 20px;
    background-color: grey;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.banner p{
    font-style: italic;
    margin-bottom: 15px;
}

#learntext{
    background-color: rgb(65, 57, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Ads Area 1*/

.ads{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.ads-box{
    width: 49.5%;
    float: left;
    height: 350px;
    background-color:#262624;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ads-box:nth-child(1),
.ads-box:nth-child(3){
    margin-right: 1%;
}

.ads-box:nth-child(1),
.ads-box:nth-child(2){
    margin-bottom: 1%;
}

.ads-box:nth-child(1){
    background-image: url(../images/merchandise1.jpg);
}

.ads-box:nth-child(2){
    background-image: url(../images/merchandise2.jpg);
}

.ads-text{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.ads-text h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 200%;
    margin-bottom: 5%;
}

.ads-text a{
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.ads-text a:hover{
    color: brown;
}