*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: black;
}

/*All Heading Tags*/

h1
h2
h3
h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p
a
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    color: antiquewhite;
}

.nav{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.nav h1{
    width: 50%;
    float: left;
}

.nav ul{
    width: 50%;
    float: left;
    text-align: right;
    padding-top: 10px;
    word-spacing: 10px;
}

.nav a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: -1px;
}

.nav li{
    display: inline-block;
}

/*Banner Area*/

.banner{
    height: 600px;
    background-color: orange;
    background-image: url(../images/atf-image.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 5%;
}

.banner-text{
    width: 30%;
    position: relative;
    top: 20%; left: 7.5%;
}



.banner h2{
    text-transform: uppercase;
    font-size: 70px;
    line-height: 58px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #262624;
}

#textgreen{
    color: rgb(73, 136, 73);
    margin-bottom: 1%;
}

.banner a{
    padding: 15px 20px;
    background-color: grey;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.banner p{
    font-style: italic;
    margin-bottom: 15px;
}

#learntext{
    background-color: rgb(65, 57, 48);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Ads Area 1*/

.ads{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.ads-box{
    width: 49.5%;
    float: left;
    height: 350px;
    background-color:#262624;
    background-size: cover;
    background-position: center;
    position: relative;
}

.ads-box:nth-child(1),
.ads-box:nth-child(3){
    margin-right: 1%;
}

.ads-box:nth-child(1),
.ads-box:nth-child(2){
    margin-bottom: 1%;
}

.ads-box:nth-child(1){
    background-image: url(../images/merchandise1.jpg);
}

.ads-box:nth-child(2){
    background-image: url(../images/merchandise2.jpg);
}

.ads-text{
    overflow: auto;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.ads-text h3{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 200%;
    margin-bottom: 5%;
}

.ads-text a{
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.ads-text a:hover{
    color: wheat;
}

/*Menu*/

#Menu{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.menu-text{
    text-align: center;
}

.menu-text p{
    color:  rgb(184, 154, 109);
    font-style: italic;
    font-size: 120%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
}

.menu-text h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    text-transform: uppercase;
}


hr{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    border-top: solid 3.5px rgb(184, 154, 109);
    width: 10%;
    display: block;
    height: 20px;
}

/*Products*/

.products{
    display: inline-block;
}

.products img{
    padding-top: 20px;
    padding-right: 5px;
    width: 400px;
    height: 400px;
}


.products h3{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4b4134;
}

.products p{
    color: rgb(184, 154, 109);
}

/*Ads 3*/
.ads-3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-image: url(../images/banner.jpg);
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.ads-3text{
    text-align: center;
    padding: 8%;
}

.ads-3text h2{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 250%;
    margin-bottom: 2%;
}

.ads-3text p{
    color:  rgb(207, 180, 140);
    font-style: italic;
    font-size: 120%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
}

.ads-3text a{
    margin-top: 25%;
    padding:  10px;
    background-color: rgb(226, 226, 226);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

.ads-3text a:hover{
    color: antiquewhite;
}

/*Merchandise Sale TEXTX*/

.merchandise{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.merchandise-text {
    text-align: center;
    margin-top: 5%;
}

.merchandise-text p{
    color:  rgb(207, 180, 140);
    font-style: italic;
    font-size: 120%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 5px;
}

.merchandise-text h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    margin-bottom: 1%;
}

/*MERCHANDISE PRODUCTS PICTURES*/


.merch-product{
    display: inline-block;
    margin-top: 3%;
}

.merch-product img{
    width: 400px;
    height: 400px;
}

.merch-product p{
    color:rgb(207, 180, 140) ;
}

.merch-product h3{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #4b4134;
}

/*Ads 4,5,6,7*/

.ads-box2{
    margin-top: 7%;
    margin-bottom: 5%;
    width: 49%;
    height: 300px;
    background-color:#262624;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.mother-ad{
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.ads-box2:nth-child(1),
.ads-box2:nth-child(3){
    float: left;
}

.ads-box2:nth-child(2),
.ads-box2:nth-child(4){
    float:right;
}

.ads-box2:nth-child(3),
.ads-box2:nth-child(4){
    margin-top: -4%;
}

.ads-box2:nth-child(1),
.ads-box2:nth-child(2),
.ads-box2:nth-child(3),
.ads-box2:nth-child(4){
    margin-right: 1%;
}

.ads-box2:nth-child(1){
    background-image: url(../images/merchandise3.jpg);
}

.ads-box2:nth-child(2){
    background-image: url(../images/merchandise4.jpg);
}

.ads-box2:nth-child(3){
    background-image: url(../images/merchandise5.jpg);
}

.ads-box2:nth-child(4){
    background-image: url(../images/merchandise6.jpg);
}

.ads-text2{
    overflow: auto;
    width: 25%;
    margin-left: 5%;
    margin-top: 15%;
    text-align: left;
}

.ads-text2 h3{
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 170%;
    margin-bottom: 6%;
}

.ads-text2 a{
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.ads-text2 a:hover{
    color: wheat;
}

/* Reservartion */

#Reservation {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.reserve-text{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-transform: uppercase;
font-size: 200%;
}

.reserve-box{
overflow: auto;
}

.reserveb1,
.reserveb2{
    float: left;
    background-color: #b9b6b1;
    padding: 1%;
    border-radius: 5px;
    width: 49%;

}

.reserveb1{
margin-right: 1%;
}

.reserve-box label,
.reserve-box input,
.reserve-box textarea,
.reserve-box select{
    display: block;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.reserve-box input{
    padding: 1%;
}

.reserve-box label{
    padding-top: 2%;
}


#time-choices label,
#time-choices input{
    display: inline;
    width: 10px;
}

.reserveb2 h3,
.reserveb2 p{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.reserveb2 p{
    font-weight: lighter;
}

#checkagree label,
#checkagree input{
    display: inline;
    width: 10px;
}

#send{
    background-color: rgb(4, 165, 4);
    color: white;
    margin-top: 1%;
}

/*FOOTER*/
.footer{
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
    width: 100%;
    padding: 3%;

}

.footer-section th,
.footer-section h4,
.footer-section td{
    color: white;
}

.footer-section{
    display: inline-block;
    margin-left: 6%;
    margin-right: 2.5%;
}

.footer-section h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.footer-section h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 10%;

}

.footer-section p{
    color:rgb(207, 180, 140);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 25px;
    font-size: 20px;
}

.footer-section h5{
    color:rgb(207, 180, 140);
    font-size: 20px;
}


#search{
    padding: 7.5px;
    background-color: rgb(207, 180, 140);
}

#standardpost{
    height: 30px;
}

/*LAST FOOTER*/
.last-footer{
    background-color: rgb(34, 33, 33);
    background-size: cover;
    padding: 2%;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.last-footer h2,
.last-footer li,
.last-footer ul,
.last-footer a,
.last-footer p{
    display: inline;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.last-footer a:hover{
    color: rgb(207, 180, 140);
}

.last-footer h2,
.last-footer ul,
.last-footer p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.last-footer h2,
.last-footer ul{
    margin-right: 19%;
}